body {
  margin: 10px;
  padding: 0;
  background: #ed65e6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.564);
  border-radius: 5px;
}
input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30vw;
}
.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40vw;
}

li {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}

button {
  margin: 10px 10px;
  padding: 10px;
  
  background: rgba(32,138,118);
  color: #fff;
  border: yellow;
  border-radius: 5px;
  cursor: pointer;
}
button:disabled {
  background: rgba(32,138,118, 0.7);
  cursor: not-allowed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
